ul {
  list-style: none;
}
.buttonsList {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 0;

  margin-bottom: 15px;
}

.button {
  border-radius: 4px;
  background-color: rgb(225, 222, 222);
  border: 1px solid black;
  color: black;
}
